<h2>Baking Table</h2>

<h3>Create Account</h3>

<form action="/signup" method="POST">

  <p>
  <label><h4>Username:</h4></label>
  <input type="text" name="username">
  </p>

  <p>
  <label><h4>Email:</h4></label>
  <input type="text" name="email">
  </p>

  <p>
  <label><h4>Password:</h4></label>
  <input type="password" name="password">
  </p>

  <p><i>All fields are required!</i></p>

  <input type="submit" value="Create Account">

</form>
