<p><h2>Your Recipes:</h2></p>

<ul>
  <% current_baker.recipes.each do |recipe| %>
    <li>
      <a href="/recipes/<%= recipe.id %>">
        <%= recipe.name %>
      </a>
    </li>
  <% end %>
</ul>

<br>
<br>

<form method="get" action="/recipes/new">
    <button type="submit">Create New Recipe</button>
</form>
<br>
<form method="get" action="/recipes">
    <button type="submit">Explore Recipes</button>
</form>
<br>
<form method="get" action="/logout">
    <button type="submit">Log Out</button>
</form>
