<h2>Your Recipes:</h2>

<!-- Will show a linked list of baker's recipes. User will be able to click on link and edit or delete recipe. -->


<p><h3><a href="/recipes/new">Create New Recipe</a></h3></p>

<p><h3><a href="/recipes">Explore Recipes</a></h3></p>

<p><h4><a href="/logout">Log Out</a></h4></p>
