<br>
<h2>Create Your Recipe:</h2>

<form action="/recipes" method="POST">
  <p><label>Name:</label></p>
  <p><input type="text" name="name"></p>
  <br>
  <p><label>Ingredients:</label></p>
  <p><input type="text" name="ingredients"></p>
  <br>
  <p><label>Instructions:</label></p>
  <p><input type="text" name="instructions" ></p>
  <br>
  <p><label>Choose Category:</label></p>

  <select name="category_id">
    <% @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
  <br>
  <br>
  <br>
  <p><input type="submit" value="Save Recipe"></p>

</form>

<form method="get" action="/bakers/show_dashboard">
    <button type="submit">My Recipes</button>
</form>
