<h2>All Recipes!</h2>

<ul>
  <% @recipes.each do |recipe| %>

    <li>
      <a href="/recipes/<%= recipe.id %>">
        <%= recipe.name %>
      </a>
    </li>
  <% end %>
</ul>

<!-- You will be able to view all by all bakers -->

<p><h3><a href="/bakers/show_dashboard">View Your Recipes</a></h3></p>

<h4><a href="/logout">Sign Out</a></h4>
