<p><h2>All Recipes!</h2></p>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <a href="/recipes/<%= recipe.id %>">
        <%= recipe.name %>
      </a>
    </li>
  <% end %>
</ul>
<br>

<form method="get" action="/bakers/show_dashboard">
    <button type="submit">View Your Recipes</button>
</form>
<br>
<form method="get" action="/categories">
    <button type="submit">View by Category</button>
</form>
<br>
<form method="get" action="/logout">
    <button type="submit">Log Out</button>
</form>
