
<h2><label>Recipe For:</label></h2>
<p><%= @recipe.name %></p>

<h2><label>Ingredients:</label></h2>
<p><%= @recipe.ingredients %></p>

<h2><label>Instructions:</label></h2>
<p><%= @recipe.instructions %></p>
