<br>
<h2><label>Recipe For:</label></h2>
<p><%= @recipe.name %></p>

<h2><label>Ingredients:</label></h2>
<p><%= @recipe.ingredients %></p>

<h2><label>Instructions:</label></h2>
<p><%= @recipe.instructions %></p>

<% if @recipe.baker == current_baker %>
<form method="get" action="/recipes/<%= @recipe.id %>/edit">
  <button type="submit">Edit Recipe</button>
</form>
<br>
<% end %>

<form method="get" action="/bakers/show_dashboard">
  <button type="submit">Back To My Recipes</button>
</form>
<br>

<!-- Will add Category
Will add Delete Button -->
