<h2>Welcome to Baking Table</h2>

<p><h3>A space where you can create, share and discover new recipes for your baking passion. </h3></p>

<p><h4>Please sign up or log in to access your account!</h4></p>


<p><a href="/signup">Sign Up</a></p>

<p><a href="/login">Log In</a></p>
