<h2>Welcome to Baking Table</h2>

<p><h3>A space where you can create, share and discover new recipes for your baking passion. </h3></p>

<p><h4>Please sign up or log in to access your account!</h4></p>

<form method="get" action="/signup">
    <button type="submit">Sign Up</button>
</form>
<br>
<form method="get" action="/login">
    <button type="submit">Log In</button>
</form>
<br>
